################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Lab05-OOP-Pt2/v15/.suo
/CodeFellows/.vs/CodeFellows/v15/.suo
/CodeFellows/.vs/CodeFellows/v15/Server/sqlite3
